<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet"  type="text/css" href="/public/CSS/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-expand-lg ">
      <div class="container-fluid" >
        <div class="navbar-header logo-top">
          <a class="navbar-brand" href="/"><img class="sample-image" src="/public/images/logo.png" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav ">
          <li class="active"><a class="nav-elements nav-element" href="/">Home  |  الرئيسية</a></li>
          <li ><a class="nav-elements nav-element" href="/blog">Blog  |  المنشورات</a></li>
          <li ><a class="nav-elements nav-element" href="/faq">FAQ  |  الأسئلة الشائعة</a></li>
          <li ><a class="nav-elements nav-element" href="/contact">Contact Us  |  تواصل معنا</a></li>
        </ul>
      </div>
    </nav>

    <div class="bclass ">
      <div class="row">
        <div class="col-8 ">
          <h1 class="white-text font-weight-bold" >We're always here for you. Don't hesitate to contact us! </h1>
          <p class="white-textp">Want to form a partnership? Ask a question? Offer an idea? Give a suggestion? Discuss a point? Be tutored? ...</p>
          <hr class="b-hr">
          <h1 class="arabic white-text font-weight-bold" > لا تترددوا في التواصل معنا، فنحن دائمًا هنا لخدمتكم</h1>
          <p class="arabic white-textp" >... أتريد تقديم اقتراح أو فكرة؟ طرح سؤال؟ مناقشة أمر ما؟</p>
        </div>
        <div class="col">
          <img class="sample-image" src="/public/images/contact.svg" alt="sample" style="margin-top: 4rem;">
        </div>
      </div>
    </div>
    <div class="wclass table-contact">

      <table >
        <thead>
          <tr>
            <th class="middle-text"><div class="table-elements">
              <a href="https://www.instagram.com/sciofeverything/" style="color: black; text-decoration-color: #29617f;"><img class="contact-image" src="/public/images/instagram-colored.svg" alt="instagram">
              <h1>Instagram</h1></a>
            </div></th>
            <th class="middle-text"><div class="table-elements">
              <a href="mailto:sciofeverything@gmail.com" style="color: black; text-decoration-color: #29617f;"><img class="contact-image" src="/public/images/gmail-colored.svg" alt="gmail">
              <h1>Email</h1></a>
            </div></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th class="middle-text"><div class="table-elements">
              <a href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ" style="color: black; text-decoration-color: #29617f;"><img class="contact-image" src="/public/images/youtube-colored.svg" alt="youtube">
              <h1>Youtube</h1></a>
            </div></th>
            <th class="middle-text"><div class="table-elements">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSffcPDTVXmezeucbc1eBOLWVro9jMO5_1qKPU2OvpnwmKv0Pw/viewform?usp=sf_link" style="color: black; text-decoration-color: #29617f;"><img class="contact-image" src="/public/images/apply.svg" alt="apply">
              <h1>Apply To Be a Member</h1></a>
            </div></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th class="middle-text"><div class="table-elements">
              <a href="mailto:sciofeverything@gmail.com" style="color: black; text-decoration-color: #29617f;"><img class="contact-image" src="/public/images/submit.svg" alt="submit">
              <h1>Submit Your Work</h1></a>
            </div></th>
            <th class="middle-text"><div class="table-elements">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCHvYq4mHr4hH1mMsvY0rdJErA8qnE4S9YezCqSgHEJei7bQ/viewform?usp=sf_link" style="color: black; text-decoration-color: #29617f;"><img class="contact-image" src="/public/images/tutoring.svg" alt="tutoring">
              <h1>Tutoring</h1></a>
            </div></th>
          </tr>
        </thead>
      </table>

    </div>
    <div class="bclass">
      <h1 class="white-text middle-text arabic">Partners &nbsp; &nbsp; &nbsp; شركاؤنا</h1>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://www.instagram.com/eduta.init/?hl=en">
            <img class="d-block w-25 carousel-img" src="/public/images/EduTa.JPG" alt="First slide">
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://www.instagram.com/thesaudiyouthspaceassociation/?hl=en">
            <img class="d-block w-25 carousel-img" src="/public/images/space-association.jpg" alt="Second slide">
          </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    </div>

    <footer class="bclass">
      <div class="container middle-text">
        <div class="row">
          <div class="col">
            <img class="footer-content" src="/public/images/instagram.svg" alt="instagram">
            <a class="footer-content" href="https://www.instagram.com/sciofeverything/">Follow Us On Instagram</a>
            <br>
            <a class="footer-content arabic" href="https://www.instagram.com/sciofeverything/"> ضيفونا على الانستجرام</a></a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/gmail.svg" alt="gmail">
            <a class="footer-content" href="mailto:sciofeverything@gmail.com">Send Us An Email</a>
            <br>
            <a class="footer-content arabic" href="mailto:sciofeverything@gmail.com">راسلونا عبر البريد الالكتروني</a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/youtube.svg" alt="youtube">
            <a class="footer-content" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">Subscribe To Our Youtube</a>
            <br>
            <a class="footer-content arabic" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">اشتركوا في قناة اليوتيوب</a>
          </div>
        </div>
          <hr class="w-hr" style="width: 20%;">
        <div class="row">
          <p class="middle-text " style="padding:0; font-size: 0.9rem;color: #29617f; margin: 0 auto;">Established 2020</p>
        </div>
      </div>
    </footer>

  </body>
</html>
