<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <link rel="stylesheet"  type="text/css" href="/public/CSS/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-expand-lg ">
      <div class="container-fluid" >
        <div class="navbar-header logo-top">
          <a class="navbar-brand" href="/"><img class="sample-image" src="/public/images/logo.png" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav ">
          <li class="active"><a class="nav-elements nav-element" href="/">Home  |  الرئيسية</a></li>
          <li ><a class="nav-elements nav-element" href="/blog">Blog  |  المنشورات</a></li>
          <li ><a class="nav-elements nav-element" href="/faq">FAQ  |  الأسئلة الشائعة</a></li>
          <li ><a class="nav-elements nav-element" href="/contact">Contact Us  |  تواصل معنا</a></li>
        </ul>
      </div>
    </nav>


    <div class="wclass">

          <div class="container">

	      <h1 class="middle-text Arabic">Frequently Asked Questions &nbsp; &nbsp; &nbsp; الأسئلة الشائعة</h2>
          <hr class="w-hr">
	      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	    	<div class="panel panel-default">
	    	  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
	    		<h3 class="panel-title">
	    		  <a class="collapsed " role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
              <p class="white-textp faq-question">+ How did Science of Everything start? </p>
              <p class="white-textp arabic faq-question"> كيف بدأت المنظمة؟ +</p>
	    		  </a>
	    		</h3>
	    	  </div>
	    	  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
	    		<div class="panel-body px-3 mb-4">
	    		  <p class="white-textp">We all know that science is all around us, but do we ~really know it what ways it is? Many of us are unaware of the vastness in which science is present and how it is so, which sets a limit to how far we appreciate it. A platform must therefore accomplish that goal of increasing society’s appreciation of science and STEM, which can stimulate positive development in the field along the road -exactly what SOE aims to do.</p>
            <p class="white-textp arabic">جميعا بعلم أن العلوم يرتبط بالعالم، ولكن هل حقًا نعلم كيف وبأي طرق؟ هل نتفكر في تطبيقاته المختلفة؟ الكثير منا يغفل عن مدى تأثير العلوم علينا، مما يحد من تقديرنا له. لذلك، يجب وجود مكان يهدف إلى زيادة وعي المجتمع وتقديره للعلوم لإثارة هدف تنمية العالم للأفضل من خلاله، وهو بالتحديد ما نهدف لفعله هنا.</p>
	    		</div>
	    	  </div>
	    	</div>

	    	<div class="panel panel-default">
	    	  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
	    		<h3 class="panel-title">
	    		  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              <p class="white-textp faq-question">+ What is its target audience?</p>
              <p class="white-textp faq-question arabic"> من هي الفئة المستهدفة؟ +</p>
	    		  </a>
	    		</h3>
	    	  </div>
	    	  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
	    		<div class="panel-body px-3 mb-4">
	    		  <p class="white-textp ">We target all people of different backgrounds and ages, and we therefore try our best to keep our content as simple as possible for all to understand and enjoy. Moreover, we continue to post with special emphasis for the youth, those that are at a pivotal stage of life when they are to decide on major life decisions, which will hopefully better the world’s development. </p>
            <p class="white-textp arabic">هنا نستهدف جميع فئات المجتمع من جميع الأعمار والخلفيات، لذلك نحاول قدر المستطاع تبسيط المحتوى المنشور ليفهمه ويستمتع به الجميع. ولتعزيز النمو ولكون الشباب نقطة أساسية في تحقيقه، نسعى إلى التركيز لإثراء العلوم لديهم. </p>
	    		</div>
	    	  </div>
	    	</div>

	    	<div class="panel panel-default">
	    	  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
	    		<h3 class="panel-title">
	    		  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
	    			<p class="white-textp faq-question">+ How can I contribute?</p>
            <p class="white-textp faq-question arabic"> كيف يمكنني المساهمة؟ +</p>
	    		  </a>
	    		</h3>
	    	  </div>
	    	  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
	    		<div class="panel-body px-3 mb-4">
	    		  <p class="white-textp ">If you would like to submit a piece of yours of any kind, we will happily receive it by email (on our contact page). Also, if you wish your contribution to be that of a longterm duration, you can apply to be a member and join us via the application link, also on our contact page.</p>
            <p class="white-textp arabic">إن كنت تريد تسليم قطعة عمل فسنستلمها بحب عبر إرسالها لنا بالبريد الإلكتروني الموجود في صفحة التواصل. إن كنت تريد المساهمة على المدى البعيد، فيمكنك التقديم لتصبح عضو في فريقنا عبر رابط التقديم في صفحة التواصل.</p>
	    		</div>
	    	  </div>
	    	</div>

	    	<div class="panel panel-default">
	    	  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
	    		<h3 class="panel-title">
	    		  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
	    			  <p class="white-textp faq-question">+ In what ways can I benefit from what’s offered?</p>
              <p class="white-textp faq-question arabic"> كيف يمكنني الاستفادة من ما يتم تقديمه؟ +</p>
	    		  </a>
	    		</h3>
	    	  </div>
	    	  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
	    		<div class="panel-body px-3 mb-4">
	    		  <p class="white-textp ">At the moment, we offer articles and blog posts regularly about intriguing science questions many of us get. By reading these articles, reflecting on them, and connecting them to situations in your life, you can maximize the benefit attained from being part of our fellow audience. Also, we offer tutoring upon request, and soon we will offer competitions and webinars.</p>
            <p class="white-textp arabic">حاليًا نقدم منشورات مكونة من نصوص ومقالات تجاوب أسئلة تراود الكثير منا عن العلوم. بقراءة هذه المنشورات، التفكر بها، وربطها بحياتك، أنت تعظم مدى استفادتك منها. أيضًا، نقدم دروس خصوصية في حالات عند الطلب، وفي المستقبل القريب سنبدأ بتقديم ورش عمل  وويبينرات الكترونية بالإضافة إلى مسابقات مختلفة.</p>
          </div>
	    	  </div>
	    	</div>
	      </div>

      </div>

    </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <footer class="bclass">
      <div class="container middle-text">
        <div class="row">
          <div class="col">
            <img class="footer-content" src="/public/images/instagram.svg" alt="instagram">
            <a class="footer-content" href="https://www.instagram.com/sciofeverything/">Follow Us On Instagram</a>
            <br>
            <a class="footer-content arabic" href="https://www.instagram.com/sciofeverything/"> ضيفونا على الانستجرام</a></a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/gmail.svg" alt="gmail">
            <a class="footer-content" href="mailto:sciofeverything@gmail.com">Send Us An Email</a>
            <br>
            <a class="footer-content arabic" href="mailto:sciofeverything@gmail.com">راسلونا عبر البريد الالكتروني</a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/youtube.svg" alt="youtube">
            <a class="footer-content" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">Subscribe To Our Youtube</a>
            <br>
            <a class="footer-content arabic" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">اشتركوا في قناة اليوتيوب</a>
          </div>
        </div>
          <hr class="w-hr" style="width: 20%;">
        <div class="row">
          <p class="middle-text " style="padding:0; font-size: 0.9rem;color: #29617f; margin: 0 auto;">Established 2020</p>
        </div>
      </div>
    </footer>


  </body>
</html>
