<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home - S.O.E </title>
    <link rel="stylesheet" type="text/css" href="/public/CSS/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-expand-lg ">
      <div class="container-fluid" >
        <div class="navbar-header logo-top">
          <a class="navbar-brand" href="/"><img class="sample-image" src="/public/images/logo.png" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav ">
          <li class="active"><a class="nav-elements nav-element" href="/">Home  |  الرئيسية</a></li>
          <li ><a class="nav-elements nav-element" href="/blog">Blog  |  المنشورات</a></li>
          <li ><a class="nav-elements nav-element" href="/faq">FAQ  |  الأسئلة الشائعة</a></li>
          <li ><a class="nav-elements nav-element" href="/contact">Contact Us  |  تواصل معنا</a></li>
        </ul>
      </div>
    </nav>

    <div class="bclass ">
      <div class="row">
        <div class="col-8" >
          <h1 class="white-text font-weight-bold" >Everything: All things; life generally</h1>
          <p class="white-textp" style="font-size: 2.2rem;">& everything is based on Science</p>
          <h1 class="arabic white-text font-weight-bold" >كل شيء  =  كل ما له وجود</h1>
          <p class="arabic white-textp" style="font-size: 2.2rem;">والعلوم أساس كل شيء</p>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <img class="sample-image" src="/public/images/infinite.svg" style=" display: inline-block; height: 100%;  vertical-align: middle;" alt="sample">
          </div>
        </div>
      </div>
    </div>
    <div class="wclass">
      <h2 class="middle-text">A little about the organization</h2>
      <p class="middle-text">Science is all around us, and it is deeply engraved into our lives in ways we most times forget. It is unfortunate, however, that this is the case. It deserves a place where it is thoroughly explained to make it easy to comprehend, fulfilling the natural curiosity of individuals of society.
      Therefore, this platform aims to do exactly that: make science accessible by all in the simplest manner to awaken its beauties and increase our appreciation of it. </p>
      <hr class="w-hr">
      <h2 class="arabic middle-text">القليل عن المنظمة</h2>
      <p class="arabic middle-text">العلوم في كل مكان، ولكنه مؤسف بأننا في الغالب نستصعب فهمه أو ننسى المدى العظيم لترابطه بحياتنا. لذلك، يستحق العلوم تواجد مكان يحتفظ بمفاهيمه بطريقة متعمقة وفي نفس الوقت سهلة الفهم لإشباع الفضول الذي ينتاب جميع أفراد المجتمع عن العالم حولنا. وهذه المنظمة تهدف إلى فعل ذلك بالضبط، فهنا نهدف إلى توفير محتوى للعلوم يسهل الوصول إليه وفهمه لزيادة تقديرنا له وتبيين جميله
</p>
    </div>
    <div class="bclass">
      <div class="row">
        <div class="col">
          <img class="sample-image" src="/public/images/learning.svg" alt="sample" style="margin-top: 1rem;">
        </div>
        <div class="col-8 ">
          <h1 class="white-text">Mission: What's Offered</h1>
          <p class="white-textp">Here we offer articles and written pieces that portray the beauties science has to offer in both English and Arabic for you to enjoy reading and to benefit from as well. </p>
          <h1 class="arabic white-text" >ما نقدمه</h1>
          <p class="arabic white-textp" >هنا نقدم لكم مقالات ونصوص كتابية تشرح مواضيع متعلقة بمختلف العلوم باللغتين الانجليزية والعربية لتسمتعوا بقرائتها ولتستفيدوا في نفس الوقت.</p>
        </div>
      </div>
    </div>
    <div class="wclass">
      <h2 class="middle-text">Vision</h2>
      <p class="middle-text">We envision the future of this organization to be one where a science enthusiastic community is grown, and where we all share and understand enough science to beautify the way we see the world, which in turn, allows us to build a more developed sustainable future.</p>
      <img src="/public/images/vision.png" alt="vision" style="width: 100%; margin-left: 1rem;">
      <h2 class="arabic middle-text"> الهدف والرؤية</h2></h2>
      <p class="arabic middle-text">نطمح لتكوين مجتمع يجتمع فيه محبي العلوم حيث يكسب كل فرد القدرة على رؤية العالم بعين مثقفة بالعلم بأنواعه، مما يزيد من تقديرنا له ويزيد من فضولنا تجاهه لبناء مستقبل أكثر تطورًا </p>
    </div>
    <div class="bclass ">
          <h1 class="display-4 white-textp middle-text" >  <img src="/public/images/call-to-action.svg" alt="call-to-action" style="width: 13rem; height: 13rem;transform: rotate(15deg);"> &nbsp; &nbsp; &nbsp; &nbsp;<a href="/blog" style="color: black; text-decoration-color: #29617f;">Head to the blog to read our most &nbsp; &nbsp; recent posts!</a> </h1>
          <h1 class="display-4 arabic white-textp middle-text" ><a href="/blog" style="color: black; text-decoration-color: #29617f;"> إقرأ مستجداتنا من المقالات هنا </a></h1>
    </div>
    <div class="wclass">
        <h2 class="middle-text">A Little About Us</h2>
        <h2 class="middle-text arabic">القليل عنا</h2>
        <div style="overflow:hidden;">
          <a class="btn btn-outline-light btn-lg" style="float: left; font-size: 1.2rem; font-family: 'Tajawal', sans-serif; background-color: #a0cae0; border: 2px solid; margin: 0 3rem 3rem 3rem;" href="/">English</a>

        </div>

      <div class="row">
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text ">لمى الأهدل</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">" أهلا، أنا لمى، مؤسسة المنظمة، وطالبة في فريق أولمبياد الفيزياء، ومشاركة في ابداع ٢٠٢١، وأهتم بتطوير المواقع والتصوير والأفلام ضمن اهتمامات أخرى. أنا شغوفة بالعلوم وأطمح إلى ترك بصمة إيجابية تطويرية له، وأؤمن بأن هذا المشروع سيساهم في تحقيق ذلك."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">غلا القحطاني</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"SOE أنا غلا، مترجمة في فريق طالبة في الصف الثالث ثانوي بمدارس جامعة الملك فهد للبترول والمعادن، وعضو في جمعية الشباب السعودي للفضاء، ومنافسة في نهائيات اولمبياد ابداع للبحث العلمي ٢٠٢١، ومقدمة بودكاست ونشرات صوتية."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">الجوهرة الجهدلي</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"جوهرة (١٦ عامًا)، مهتمة بالقضايا البيئية، ألعاب القوى، الطعام الصحي، والعدالة الجنائية."</p>
              </div>
            </div>
          </div>
          <div class="col my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">اسماعيل صفراطه</h4>
                <p class="card-text middle-text"style="font-size: 1rem;">"أنا إسماعيل، أحب التصوير والقراءة والفنون القتالية وركوب الخيل، وأنا أيضًا مهتم بمجال البحث العلمي في مجالات وتقنيات الطاقة الخضراء والمتجددة."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">البراء الطاسان</h4>
                <p class="card-text middle-text"style="font-size: 1rem;">"أنا تلميذ متحمس للعلم الذي يزدهر بالمعرفة والتجارب الجديدة،شغوف نحوالقراءة، ركوب الدراجة، والخَبز. كما أنني ناقد أفلام نشط. "</p>
              </div>
            </div>
          </div>
          <div class="col my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">جوانا البارقي</h4>
                <p class="card-text middle-text"style="font-size: 1rem;">"أنا عضوة في فريق البحث، وطالبة في الصف الثاني ثانوي بمدارس دار الفكر، وأحد ألمع العقول في المملكة، وطالبة متميزة في موهبة (مؤسسة الملك عبد العزيز ورجاله للموهوبين)"</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">عبدالله الشمري</h4>
                <p class="card-text middle-text"style="font-size: 1rem;">"أنا عبد الله الشمري، أستمتع بقراءة واستكشاف المعلومات والمحتويات الجديدة ، وأعتقد أن مشاركة ونشر المعلومات التي لديك وسيلة من وسائل الكرم والجود."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">هيا خزندار</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"أنا من النوع الذي يحب التركيز على الأفكار المتعلقة بالبشر وطريقة تفكيرهم، فمثلًا؛ لماذا نتصرف ببعض الطرق في أوقات محددة؟ أنا أيضًا محبة كتب، كما لدي حب لتصميم وتحرير الفيديو."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">أسماء الدوسري</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"أبلغ من العمر 16 عامًا، مهتمة بالفيزياء الفلكية، التنجيم، الأحياء، والتصوير الفوتوغرافي. كما أنني أيضًا مؤسسة CalcHelper و Bike Day."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">مريم قاتونكل</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"أهلًا ! اسمي مريم قاتوينكل أحب العلم والحقائق بشدة. آمل أن تساعدك مقالاتي في معرفة المزيد وتعلم المزيد!"</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">مرح الحازمي</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"أنا مرح ، باحثة في SOE. منذ أقدم ما أتذكر كنت منبهرة بالبنية المعقدة والصيغ للعالم المادي والطبيعي للعلوم كيف ومتى ولماذا تحدث الجوانب. فيعد الانضمام إلى SOE فرصة رائعة بالنسبة لي للعمل مع الشباب المتحمسين الآخرين وفتح أعين الناس معًا على جمال العلوم."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">رهف قمصاني</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"أنا طالبة أتطلع إلى جعل العالم مكانًا أفضل، طموحة وشغوفة بالعلوم، وأحب مساعدة الآخرين من خلال تقديم الحلول والابتكارات لجعل الحياة أسهل."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">فارس صبان</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"مرحبًا،  أنا فتى في السابعة عشر من العمر، شغوف بالعلوم والأحياء، وأعزف بيانو."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text"> علي الخضيري</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"كنت دائمًا وما زلت حريصًا على كوني شخص متتحمس للتعلم وشغوف بالفن والعلم وكل ما يمكن أن يقدمه العالم ، الشخص الذي يتمتع بمواجهة التحديات والتغلب عليها عند ظهورها"</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">رغد بخاري</h4>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">لمار مصيري</h4>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">ميار الأحمدي</h4>
              </div>
            </div>
          </div>

        </div>

        <div class="text-muted"><small>Icons from <a class="text-muted" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small></div>
    </div>

    <footer class="bclass">
      <div class="container middle-text">
        <div class="row">
          <div class="col">
            <img class="footer-content" src="/public/images/instagram.svg" alt="instagram">
            <a class="footer-content" href="https://www.instagram.com/sciofeverything/">Follow Us On Instagram</a>
            <br>
            <a class="footer-content arabic" href="https://www.instagram.com/sciofeverything/"> ضيفونا على الانستجرام</a></a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/gmail.svg" alt="gmail">
            <a class="footer-content" href="mailto:sciofeverything@gmail.com">Send Us An Email</a>
            <br>
            <a class="footer-content arabic" href="mailto:sciofeverything@gmail.com">راسلونا عبر البريد الالكتروني</a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/youtube.svg" alt="youtube">
            <a class="footer-content" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">Subscribe To Our Youtube</a>
            <br>
            <a class="footer-content arabic" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">اشتركوا في قناة اليوتيوب</a>
          </div>
        </div>
          <hr class="w-hr" style="width: 20%;">
        <div class="row">
          <p class="middle-text " style="padding:0; font-size: 0.9rem;color: #29617f; margin: 0 auto;">Established 2020</p>
        </div>
      </div>
    </footer>


  </body>
</html>
