<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home - S.O.E </title>
    <link rel="stylesheet" type="text/css" href="/public/CSS/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-expand-lg ">
      <div class="container-fluid" >
        <div class="navbar-header logo-top">
          <a class="navbar-brand" href="/"><img class="sample-image" src="/public/images/logo.png" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav ">
          <li class="active"><a class="nav-elements nav-element" href="/">Home  |  الرئيسية</a></li>
          <li ><a class="nav-elements nav-element" href="/blog">Blog  |  المنشورات</a></li>
          <li ><a class="nav-elements nav-element" href="/faq">FAQ  |  الأسئلة الشائعة</a></li>
          <li ><a class="nav-elements nav-element" href="/contact">Contact Us  |  تواصل معنا</a></li>
        </ul>
      </div>
    </nav>

    <div class="bclass ">
      <div class="row">
        <div class="col-8" >
          <h1 class="white-text font-weight-bold" >Everything: All things; life generally</h1>
          <p class="white-textp" style="font-size: 2.2rem;">& everything is based on Science</p>
          <h1 class="arabic white-text font-weight-bold" >كل شيء  =  كل ما له وجود</h1>
          <p class="arabic white-textp" style="font-size: 2.2rem;">والعلوم أساس كل شيء</p>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <img class="sample-image" src="/public/images/infinite.svg" style=" display: inline-block; height: 100%;  vertical-align: middle;" alt="sample">
          </div>
        </div>
      </div>
    </div>
    <div class="wclass">
      <h2 class="middle-text">A little about the organization</h2>
      <p class="middle-text">Science is all around us, and it is deeply engraved into our lives in ways we most times forget. It is unfortunate, however, that this is the case. It deserves a place where it is thoroughly explained to make it easy to comprehend, fulfilling the natural curiosity of individuals of society.
      Therefore, this platform aims to do exactly that: make science accessible by all in the simplest manner to awaken its beauties and increase our appreciation of it. </p>
      <hr class="w-hr">
      <h2 class="arabic middle-text">القليل عن المنظمة</h2>
      <p class="arabic middle-text">العلوم في كل مكان، ولكنه مؤسف بأننا في الغالب نستصعب فهمه أو ننسى المدى العظيم لترابطه بحياتنا. لذلك، يستحق العلوم تواجد مكان يحتفظ بمفاهيمه بطريقة متعمقة وفي نفس الوقت سهلة الفهم لإشباع الفضول الذي ينتاب جميع أفراد المجتمع عن العالم حولنا. وهذه المنظمة تهدف إلى فعل ذلك بالضبط، فهنا نهدف إلى توفير محتوى للعلوم يسهل الوصول إليه وفهمه لزيادة تقديرنا له وتبيين جميله
</p>
    </div>
    <div class="bclass">
      <div class="row">
        <div class="col">
          <img class="sample-image" src="/public/images/learning.svg" alt="sample" style="margin-top: 1rem;">
        </div>
        <div class="col-8 ">
          <h1 class="white-text">Mission: What's Offered</h1>
          <p class="white-textp">Here we offer articles and written pieces that portray the beauties science has to offer in both English and Arabic for you to enjoy reading and to benefit from as well. </p>
          <h1 class="arabic white-text" >ما نقدمه</h1>
          <p class="arabic white-textp" >هنا نقدم لكم مقالات ونصوص كتابية تشرح مواضيع متعلقة بمختلف العلوم باللغتين الانجليزية والعربية لتسمتعوا بقرائتها ولتستفيدوا في نفس الوقت.</p>
        </div>
      </div>
    </div>
    <div class="wclass">
      <h2 class="middle-text">Vision</h2>
      <p class="middle-text">We envision the future of this organization to be one where a science enthusiastic community is grown, and where we all share and understand enough science to beautify the way we see the world, which in turn, allows us to build a more developed sustainable future.</p>
      <img src="/public/images/vision.png" alt="vision" style="width: 100%; margin-left: 1rem;">
      <h2 class="arabic middle-text"> الهدف والرؤية</h2></h2>
      <p class="arabic middle-text">نطمح لتكوين مجتمع يجتمع فيه محبي العلوم حيث يكسب كل فرد القدرة على رؤية العالم بعين مثقفة بالعلم بأنواعه، مما يزيد من تقديرنا له ويزيد من فضولنا تجاهه لبناء مستقبل أكثر تطورًا </p>
    </div>
    <div class="bclass ">
          <h1 class="display-4 white-textp middle-text" >  <img src="/public/images/call-to-action.svg" alt="call-to-action" style="width: 13rem; height: 13rem;transform: rotate(15deg);"> &nbsp; &nbsp; &nbsp; &nbsp;<a href="/blog" style="color: black; text-decoration-color: #29617f;">Head to the blog to read our most &nbsp; &nbsp; recent posts!</a> </h1>
          <h1 class="display-4 arabic white-textp middle-text" ><a href="/blog" style="color: black; text-decoration-color: #29617f;"> إقرأ مستجداتنا من المقالات هنا </a></h1>
    </div>
    <div class="wclass">
        <h2 class="middle-text">A Little About Us</h2>
        <h2 class="middle-text arabic">القليل عنا</h2>
        <div style="overflow:hidden;">
          <a class="btn btn-outline-light btn-lg" style="float: right; font-size: 1.2rem; font-family: 'Tajawal', sans-serif; background-color: #a0cae0; border: 2px solid; margin: 0 3rem 3rem 3rem;" href="/home-arabic">العربية</a>

        </div>

      <div class="row">
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Lama Alahdal</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"Hello! I'm Lama, founder of Science of Everything, a photographer, a web developer, a Physics Olympiad student, an Ibda'12 finalist, and a film enthusiast. I'm passionate about science and STEM, and I aspire to leave this world having left a positive impact on its development. I have faith in that this platform is part of that impact."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Ghala Qahtani</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"I'm Ghala Qahtani, a Translator at Science of Everything, Senior at KFUPM Schools, Member in Saudi Youth Space Association, IBDAA21 Finalist, and A Podcaster."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Marah Majed Al Hazmi</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"I am Marah, a researcher at SOE. Ever since I can remember I've been fascinated with the intricate structure and formulas of the physical and natural world how, when, and why aspects happen. Joining SOE is a great opportunity for me to work with other passionate youth and together open people's eyes to the overlooked beauty of science."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Aljohara Aljahdali</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"I'm Johara, a 16yo interested in Environmental issues, athletics and healthy eating, and criminal justice."</p>
              </div>
            </div>
          </div>
          <div class="col my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Ismaiel Sofrata</h4>
                <p class="card-text middle-text"style="font-size: 1rem;">"My name is Ismaiel Sofrata, I love photography, reading, martial arts and horseriding. I am also passionate about scientific research into "green" and renewable energy technologies."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Albaraa Altassan</h4>
                <p class="card-text middle-text"style="font-size: 1rem;">"I'm an enthusiastic learner that thrives on new knowledge and experiences with a passion for reading, biking, and baking, also an active film critic."</p>
              </div>
            </div>
          </div>
          <div class="col my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Joanna Albargi</h4>
                <p class="card-text middle-text"style="font-size: 1rem;">"I, a member of the searching team, am an 11’th grade student at Dar Alfikr Schools, one of the kingdom brightest minds, and an outstanding Mawhiba student (kings Abdulaziz organization for gifted)."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Abdullah AlShammary</h4>
                <p class="card-text middle-text"style="font-size: 1rem;">"I’m Abdullah AlShammary, I enjoy reading and exploring new informations and content, I believe that giving the informations that you have way of generosity."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Haya Khazindar</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"I'm the type of person who loves to dwell on thoughts about humans and our minds, like why we act in some ways at specific times. I'm also a bookworm, who also has a love for design and video editing."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Asma Aldossary</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"I'm a 16 year old interested in astrophysics, astrology, biology, and photographer. I am also the founder of CalcHelper and Bike Day."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Mariam Gattwinkel</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"Hi ! My name is mariam Gattwinkel and I really like science and facts. I hope my articles can help you learn more and know more!"</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Rahaf Komosany</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"I am a student looking to make the world a better place. I'm ambitious and passionate about science. I love to help others by making solutions and innovations to make life easier."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Faris sabban</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">"I'm Faris, a 17 year old passionate to science and biology. I'm also an intermediate pianist."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-boy.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Ali AlKhudhayri</h4>
                <p class="card-text middle-text" style="font-size: 1rem;">I always was and still am the determined eager to learn person, the one passionate about art, science, and all that the world can offer, the one that enjoyed confronting and overcoming challenges as they arose."</p>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem;">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Raghad Bokhari</h4>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Lamar Mesairy</h4>
              </div>
            </div>
          </div>
          <div class="col  my-2">
            <div class="card card-content h-100 mx-auto" style="width: 20rem; ">
              <img class="card-img-top profile-img" src="/public/images/profile-girl.svg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title middle-text">Mayar AlAhmadi</h4>
              </div>
            </div>
          </div>

        </div>

        <div class="text-muted"><small>Icons from <a class="text-muted" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small></div>
    </div>

    <footer class="bclass">
      <div class="container middle-text">
        <div class="row">
          <div class="col">
            <img class="footer-content" src="/public/images/instagram.svg" alt="instagram">
            <a class="footer-content" href="https://www.instagram.com/sciofeverything/">Follow Us On Instagram</a>
            <br>
            <a class="footer-content arabic" href="https://www.instagram.com/sciofeverything/"> ضيفونا على الانستجرام</a></a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/gmail.svg" alt="gmail">
            <a class="footer-content" href="mailto:sciofeverything@gmail.com">Send Us An Email</a>
            <br>
            <a class="footer-content arabic" href="mailto:sciofeverything@gmail.com">راسلونا عبر البريد الالكتروني</a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/youtube.svg" alt="youtube">
            <a class="footer-content" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">Subscribe To Our Youtube</a>
            <br>
            <a class="footer-content arabic" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">اشتركوا في قناة اليوتيوب</a>
          </div>
        </div>
          <hr class="w-hr" style="width: 20%;">
        <div class="row">
          <p class="middle-text " style="padding:0; font-size: 0.9rem;color: #29617f; margin: 0 auto;">Established 2020</p>
        </div>
      </div>
    </footer>

  </body>
</html>
